# Copyright 2022 The BFE Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# This is a basic workflow to help you get started with Actions

name: e2e-test

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ develop ]

permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  discussions: read
  issues: read
  pages: read
  packages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    environment: e2e

    env:
      CUCUMBER_FEATURE: ${{ secrets.CUCUMBER_FEATURE }}
      WAIT_FOR_STATUS_TIMEOUT: ${{ secrets.WAIT_FOR_STATUS_TIMEOUT }}
      TEST_TIMEOUT: ${{ secrets.TEST_TIMEOUT }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            go:
              - '**/*.go'
              - 'go.mod'
              - 'go.sum'
              - 'Makefile'
              - 'Dockerfile'              
              - 'test/**/*'

      - name: Run e2e test
        id: run-e2e-test
        continue-on-error: true
        shell: bash
        if: steps.filter.outputs.go == 'true'
        run: |
          export RESULTS_DIR=/tmp/bfe-ingress-reports
          export CUCUMBER_OUTPUT_FORMAT=cucumber
          make e2e-test

      - name: Generate reports
        continue-on-error: true
        if: steps.filter.outputs.go == 'true'
        run: |
          # clone the gh-pages repository branch
          export TEMP_WORKTREE=$(mktemp -d)
          remote_repo="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git clone --branch=gh-pages --depth=1 "${remote_repo}" "${TEMP_WORKTREE}"

          export REPORTS_DIR=/tmp/bfe-ingress-reports
          export CONTROLLER_VERSION=$(cat VERSION)
          .github/generate-reports.sh

      - name: Upload cucumber json files
        uses: actions/upload-artifact@v2
        continue-on-error: true
        with:
          name: cucumber-output
          path: /tmp/bfe-ingress-reports/*

      - name: Check on failures
        if: steps.filter.outputs.go == 'true' && steps.run-e2e-test.outcome != 'success'
        run: exit 1

